{% include 'Navbar.html' %}
{% load static %}

<title>Projects</title>
    <section class="project-area">
        <center>
            <font size="6">
                <p style="color:rgb(44,60,76,255)">PROJECTS</p>
                <nav>
                    <font size="5">
                <div id="project" class="project-item">
                    <h3> Interactive Flowchart </h3>
                    <style>
                          .button {
                            display: inline-block;
                            padding: 10px 20px;
                            text-align: center;
                            text-decoration: none;
                            border-radius: 6px;
                            outline: none;
                          }
                          .button1 {
                              background-color: white;
                              color: black;
                              border: 3px solid rgb(164, 158, 125);
                            }

                            .button1:hover {
                              background-color: rgb(164, 158, 125);
                              color: white;
                            }
                     </style>
                        <ul>
                            <button class="button button1" <li><a href="/projects/Interactive flowchart">Click here</a></li></button>
                </div>
                <div id="project" class="project-item">
                    <h2>PROJECT 2 </h2>
                    <p>Something something...</p>
                </div>
                </div>
                <div id="project" class="project-item">
                    <h2>PROJECT 3 </h2>
                    <p>Something something...</p>
                </div>
            </div>
                </nav>
        </center>
    </section>

{% include 'Footer.html' %}