{% load static %}

<link rel="stylesheet" href="{% static 'styles/Base_file.css' %}">
<link rel="stylesheet" href="{% static 'styles/image_style.css' %}">
<link rel="stylesheet" href="{% static 'styles/Subject_articles.css' %}">
<link rel="stylesheet" href="{% static 'styles/Global.css' %}">
<link rel="stylesheet" href="{% static 'styles/hero.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biology & Genetics Hub</title>

</head>
<body>
    <div class="content-wrapper">
    <!-- Include Navbar -->
    <div id="navbar">
        {% include 'Base_files/Navbar.html' %}
    </div>

    <!-- Hero Section -->
    <section class="hero">
        <h2>Introduction to Genetics</h2>
    </section>

    <!-- Article List Section -->
    <section class="white-box">
        <h3>Explore</h3>
        <div class="yellow-box-container">
            <!-- Article 1 -->
            <div class="yellow-box-item">
                <h4>Classical genetics</h4>
                <p>An introduction to the fundamental concepts of genetics, perfect for beginners.</p>
                <a href="/introduction genetics/classical genetics">Read More</a>
            </div>

            <!-- Article 3 -->
            <div class="yellow-box-item">
                <h4>In progress</h4>
                <p>In progress.</p>
                <a href="/article-2">Read More</a>
            </div>


            <!-- Article 4 -->
            <div class="yellow-box-item">
                <h4>In progress</h4>
                <p>In progress.</p>
                <a href="/article-4">Read More</a>
            </div>

        </div>
    </section>
    </div>
    <!-- Include Footer -->
    {% include 'Base_files/Footer.html' %}
</body>
</html>
