{% extends 'Base_files/Base_Articles.html' %}

{% block title %} Clustering basics - Learning Hub {% endblock %}

{% block content %}
    <!-- Hero Section -->
    <section class="hero">
        <h2>Statistics</h2>
    </section>

<!-- Article List Section -->
<section class="white-box">
    <h3>Explore</h3>
    <div class="yellow-box-container">
        {% for article in articles %}
            <!-- Dynamic Article Item -->
            <div class="yellow-box-item">
                <h4>{{ article.title }}</h4>
                <p>{{ article.summary }}</p>
                <a href="{{ article.get_absolute_url}}">Read More</a>
            </div>
        {% empty %}
            <p>No articles available in this category.</p>
        {% endfor %}
    </div>
</section>


{% endblock %}

