{% extends 'Base_files/Base_Articles.html' %}

{% block title %} Clustering basics - Learning Hub {% endblock %}

{% block content %}
    <!-- Hero Section -->
    <section class="hero">
        <h2>Bioinformatics</h2>
    </section>

    <!-- Article List Section -->
    <section class="white-box">
        <h3>Explore</h3>
        <div class="yellow-box-container">
            <!-- Article 1 -->
            <div class="yellow-box-item">
                <h4>Work in progress</h4>
                <p>Work in progress.</p>
                <a href="/work in progress">Read More</a>
            </div>

            <!-- Article 2 -->
            <div class="yellow-box-item">
                <h4>Work in progress</h4>
                <p>Work in progress.</p>
                <a href="/work in progress">Read More</a>
            </div>


        </div>
    </section>

{% endblock %}

