{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Learning Hub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/Base_file.css' %}">
    <link rel="stylesheet" href="{% static 'styles/Image_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/Text.css' %}">
    <link rel="stylesheet" href="{% static 'styles/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'styles/Global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/hero.css' %}">
    <link rel="stylesheet" href="{% static 'styles/Table_content.css' %}">
    <link rel="stylesheet" href="{% static 'styles/Root.css' %}">
    <link rel="stylesheet" href="{% static 'styles/AboutMe.css' %}">
    <script src="{% static 'scripts/Table_content.js' %}" defer></script>
    <script src="{% static 'scripts/Carousel.js' %}" defer></script>

</head>

<body>

    <!-- Navbar -->
    {% include 'Base_files/Navbar.html' %}


   <!-- Main Content -->
    <div class="content-wrapper">
<!-- Hero Section -->
<section class="hero">
    <div class="img-center-container">
        <img src="{% static 'images/Profile_img1.jpg' %}" alt="Profile Picture" class="img-round-frame-darkblue img-left" style="width: 150px; height: 150px;">
        <h2>Meet Catalina Manduta</h2>
        <div class="info-wrapper">
            <p>A Data Analyst with a passion for translating data into actionable insights.</p>
        </div>
    </div>
</section>

<!-- Table of Contents -->
<aside class="table-of-contents">
    <h2>Contents</h2>
    <ul id="toc-list">
        <!-- JavaScript will populate TOC items here based on headings -->
    </ul>
</aside>


<section class="dark-blue-box">
    <h3>SKILLS</h3>
</section>

<section class="white-box skills-section">
    <h4>PROGRAMMING AND DATA ANALYSIS</h4>
    <div>
        <button class="custom-button-yellow">
            <i class="fab fa-python"></i>
            <div>
                <strong>Python</strong>
            </div>
            <span class="popup-circle">Advanced (NumPy, Pandas, Scikit-learn). Discovered my love for Python in university through machine learning and bioinformatics courses, where I applied it to statistical modeling and data analysis projects.</span>
        </button>

        <button class="custom-button-yellow">
            <i class="fab fa-r-project"></i>
            <div>
                <strong>RStudio</strong>
            </div>
            <span class="popup-circle">Intermediate (Data analysis and statistical modeling). Learned during biostatistics courses, focusing on statistical testing and working with biological datasets.</span>
        </button>

        <button class="custom-button-yellow">
            <i class="fas fa-database"></i>
            <div>
                <strong>SQL</strong>
            </div>
            <span class="popup-circle">Intermediate (Database management). Self-taught through practice and online exercises. Frequently use SQL at Umbraco for managing content stored in databases as part of my technical support role.</span>
        </button>

        <button class="custom-button-yellow">
            <i class="fas fa-chart-bar"></i>
            <div>
                <strong>Power BI</strong>
            </div>
            <span class="popup-circle">Beginner (Data visualization). Self-taught to create dynamic dashboards, enhancing insights with SQL integration and crafting visually appealing reports.</span>
        </button>

        <button class="custom-button-yellow">
            <i class="fab fa-git"></i>
            <div>
                <strong>Git</strong>
            </div>
            <span class="popup-circle">Beginner. Actively learning Git while working on my current project to manage the version control.</span>
        </button>
    </div>

<h4>WEB DEVELOPMENT</h4>
<div>
    <button class="custom-button-yellow">
        <i class="fab fa-html5"></i>
        <div>
            <strong>HTML</strong>
        </div>
        <span class="popup-circle">Intermediate. Learning and improving HTML skills while creating this project, focusing on structuring content and ensuring semantic correctness.</span>
    </button>

    <button class="custom-button-yellow">
        <i class="fab fa-css3-alt"></i>
        <div>
            <strong>CSS</strong>
        </div>
        <span class="popup-circle">Intermediate. Exploring CSS techniques while designing this project, enhancing styles, layouts, and responsiveness for a professional look.</span>
    </button>
</div>


<h4>COMPUTATIONAL BIOLOGY</h4>
<div>
    <!-- Bioinformatics Button -->
    <button class="custom-button-yellow">
        <i class="fas fa-dna"></i>
        <div>
            <strong>Bioinformatics</strong>
        </div>
        <span class="popup-circle">
            Intermediate: Studied topics such as sequence alignment, string matching, DNA binding sites, motif discovery, population genetics, network biology, and data mining.
        </span>
    </button>

    <!-- Biostatistics Button -->
    <button class="custom-button-yellow">
        <i class="fas fa-flask"></i>
        <div>
            <strong>Biostatistics</strong>
        </div>
        <span class="popup-circle">
            Intermediate: Covered statistical methods, probability distributions, data visualization, regression, hypothesis testing, and real-world applications in biomedical research.
        </span>
    </button>

    <!-- Epidemiology Button -->
    <button class="custom-button-yellow">
        <i class="fas fa-heartbeat"></i>
        <div>
            <strong>Basic Epidemiology</strong>
        </div>
        <span class="popup-circle">
            Explored epidemiological study designs, causality, diagnostics, genetic epidemiology, and error sources in research.
        </span>
    </button>
</div>

<h4>SOFT SKILLS</h4>
<div>
    <!-- Language Skills -->
    <button class="custom-button-yellow">
        <i class="fas fa-language"></i>
        <div>
            <strong>Fluent in</strong>
        </div>
        <span class="popup-circle">
            English and Romanian: Strong command of professional and conversational English, combined with native-level Romanian. Ability to adapt language use to diverse cultural and professional settings.
        </span>
    </button>

    <!-- Proficiency in Danish -->
    <button class="custom-button-yellow">
        <i class="fas fa-globe"></i>
        <div>
            <strong>Proficient in</strong>
        </div>
        <span class="popup-circle">
            Danish: Acquired proficiency in Danish after living and working in Denmark.
        </span>
    </button>

    <!-- Presentation and Communication -->
    <button class="custom-button-yellow">
        <i class="fas fa-comments"></i>
        <div>
            <strong>Presentation & Communication</strong>
        </div>
        <span class="popup-circle">
            Skilled in crafting impactful presentations and communicating complex ideas clearly. Experienced in technical support and university presentations.
        </span>
    </button>

    <!-- Cultural Competence -->
    <button class="custom-button-yellow">
        <i class="fas fa-handshake"></i>
        <div>
            <strong>Global Cultural Competence</strong>
        </div>
        <span class="popup-circle">
            Extensive experience living and working in diverse environments across Romania and Denmark. Skilled in building strong, cross-cultural professional relationships.
        </span>
    </button>

    <!-- Critical Thinking -->
    <button class="custom-button-yellow">
        <i class="fas fa-brain"></i>
        <div>
            <strong>Critical Thinking</strong>
        </div>
        <span class="popup-circle">
            Ability to analyze complex problems, identify key factors, and synthesize solutions. Leveraged in technical roles and data analysis.
        </span>
    </button>

    <!-- Mentorship -->
    <button class="custom-button-yellow">
        <i class="fas fa-users"></i>
        <div>
            <strong>Mentorship</strong>
        </div>
        <span class="popup-circle">
            Enjoys sharing knowledge and explaining concepts to others, finding joy in making complex ideas understandable. Believes teaching not only empowers others but also deepens personal understanding. Values creating an open environment for learning and collaboration.
        </span>
    </button>

</div>

</section>

<section class="dark-blue-box">
    <h3>EDUCATION</h3>
</section>
<section class="white-box custom-height carousel education-carousel">
    <button class="prev" onclick="plusSlides(-1, 'education-slide')">❮</button>


    <!-- Marketing Management -->
    <div class="education-slide active">
        <div class="education-item">
            <div class="education-item-text">
                <h4>Marketing Management</h4>
                <p class="info-text">Dania University of Applied Science, Viborg, Denmark | 2018 - 2020</p>
                <p>
                    Relocating to Denmark opened a new chapter in my life. I pursued Marketing Management,
                    merging International Sales and Marketing into my studies. This decision broadened my horizons,
                    introducing me to economics, project management, and the global market—skills that continue to shape my professional journey.
                </p>
            </div>
            <img src="{% static 'images/ucl.jpg' %}" class="img-rectangle" style="width: 400px; height: 400px;" alt="Dania University of Applied Science">
        </div>
    </div>

    <!-- Bachelor's in Biology -->
    <div class="education-slide">
        <div class="education-item">
            <div class="education-item-text">
                <h4>Bachelor's in Biology</h4>
                <p class="info-text">West University of Timisoara, Romania | Graduation Year: 2021</p>
                <p>
                    Though I enjoyed marketing, my passion for biology never faded. I returned to studies, diving
                    into plant physiology, genetics, ecology, and beyond. My studies took me from the microcosm of
                    viruses and bacteria to the broader fields of zoology and environmental science.
                </p>
            </div>
            <img src="{% static 'images/Vest.jpg' %}" class="img-rectangle" style="width: 400px; height: 400px;" alt="West University of Timisoara">
        </div>
    </div>

    <!-- Master's in Computational Biomedicine -->
    <div class="education-slide">
        <div class="education-item">
            <div class="education-item-text">
                <h4>Master's in Computational Biomedicine</h4>
                <p class="info-text">University of Southern Denmark, Odense | Graduation Year: 2023</p>
                <p>
                    To bridge my interests in biology and technology, I pursued a Master’s in Computational Biomedicine.
                    Here, I studied epidemiology, bioinformatics, and protein modeling, while honing my skills in Python and R.
                    I chose this path not only to deepen my knowledge but also to open doors to diverse career opportunities.
                </p>
            </div>
            <img src="{% static 'images/SDU.jpg' %}" class="img-rectangle" style="width: 400px; height: 400px;" alt="University of Southern Denmark">
        </div>
    </div>

    <button class="next" onclick="plusSlides(1, 'education-slide')">❯</button>
</section>


<!-- Work Experience Section -->
<section class="dark-blue-box">
    <h3>WORK EXPERIENCE</h3>
</section>
<section class="white-box">
    <div class="image-container">
        <img src="{% static 'images/Profile_img2.jpg' %}" class="img-rectangle" alt="Profile Picture" class="img-responsive img-center">
        <!-- LinkedIn Icon -->
        <div class="social-icons_pic">
            <a href="https://www.linkedin.com/in/catalina-manduta/" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</section>


<section class="dark-blue-box">
    <h3>ON A MORE PERSONAL NOTE</h3>
</section>
<section class="white-box custom-height carousel personal-carousel">
    <button class="prev" onclick="plusSlides(-1, 'personal-slide')">❮</button>

<!-- Dog / Animal Lover -->
<div class="personal-slide active">
    <div class="education-item">
        <div class="education-item-text">
            <h4>Furry Companions</h4>
            <p>
                I have two adorable dogs who bring so much joy:
                <br>
                One, a sweet, loving, and sensitive soul who is incredibly smart. While she may be reserved with strangers, she shares her heart generously with those she knows and loves.
                <br>
                While the other one, my outgoing adventurer, always ready to trade me for food and a good scratch!
            </p>
        </div>
        <img src="{% static 'images/dogs.jpg' %}" class="img-rectangle" style="width: 400px; height: 400px;" alt="Dogs">
        <p>I will let you guess which one is which.</p>
    </div>
</div>

<!-- Audiobooks -->
<div class="personal-slide">
    <div class="education-item">
        <div class="education-item-text">
            <h4>Audiobooks</h4>
            <p>
                Here are some of my favorite audiobooks that inspire and intrigue me, though it is pretty hard to make just one list:
            </p>
            <ul>
                <li><em>The Male Brain: A Breakthrough Understanding of How Men and Boys Think</em> by Louann Brizendine</li>
                <li><em>The Female Brain</em> by Louann Brizendine</li>
                <li><em>Man's Search for Meaning</em> by Viktor E. Frankl</li>
                <li><em>The Culture Map: Breaking Through the Invisible Boundaries of Global Business</em> by Erin Meyer</li>
                <li><em>The Future Leader: 9 Skills and Mindsets to Succeed in the Next Decade</em> by Jacob Morgan</li>
                <li><em>Emotional Intelligence</em> by Daniel Goleman</li>
                <li><em>The Authority Gap: Why Women Are Taken Less Seriously Than Men and What We Can Do About It</em> by Mary Ann Sieghart</li>
                <li><em>Invisible Women: Exposing Data Bias in a World Designed for Men</em> by Caroline Criado Perez</li>
                <li><em>Brave, Not Perfect: Fear Less, Fail More, and Live Bolder</em> by Reshma Saujani</li>
                <li><em>Behave: The Biology of Humans at Our Best and Worst</em> by Robert M. Sapolsky</li>
                <li><em>Through a Window: My Thirty Years with the Chimpanzees of Gombe</em> by Jane Goodall</li>
                <li><em>Mama's Last Hug: Animal Emotions and What They Tell Us About Ourselves</em> by Frans de Waal</li>
                <li><em>My Bondage and My Freedom</em> by Frederick Douglass</li>
            </ul>
        </div>
    </div>
</div>

<!-- DIY Projects -->
<div class="personal-slide">
    <div class="education-item">
        <div class="education-item-text">
            <h4>DIY Projects</h4>
            <p class="info-text">Home Renovation Enthusiast</p>
            <p>
                After buying our first home, I discovered a passion for DIY projects. My weekends are often spent plastering
                and painting walls or sanding, staining, and applying lacquer to wooden floors. I truly enjoy learning
                new skills and creating something with my own hands, often accompanied by a great audiobook.
            </p>
        </div>
    </div>
</div>
    <button class="next" onclick="plusSlides(1, 'personal-slide')">❯</button>
</section>

</body>

    <!-- Footer -->
    {% include 'Base_files/Footer.html' %}

</html>