/* Hero Section Adjustments */
.hero {
    background: linear-gradient(135deg, #1BA5BF, #E2E1D2);
    padding: 150px 20px;
    text-align: center;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.hero::before, .hero::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.hero::before {
    width: 300px;
    height: 300px;
    top: 10%;
    left: 10%;
    z-index: 0;
}
.hero::after {
    width: 400px;
    height: 400px;
    bottom: 10%;
    right: 10%;
    z-index: 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.circular-frame {
    border-radius: 50%;
    border: 5px solid #1BA5BF;
    width: 200px;
    height: 200px;
}

.hero h2 {
    font-size: 3rem;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 1.2rem;
    margin: 0;
    max-width: 600px;
    text-align: center;
}

/* Bubble Style for Skills */
.bubble-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.bubble {
    background-color: #ffffff;
    color: #15688A;
    border-radius: 50%;
    padding: 15px 20px;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    line-height: 1.2;
    margin-top: 30px;
    flex-direction: column;
}

.bubble i {
    font-size: 40px;
    margin-bottom: 10px;
}

.bubble:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.education-item, .experience-item {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    position: relative;
    max-width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.education-item-text, .experience-item-text {
    max-width: 60%;
    text-align: left;
}

/* Carousel navigation buttons */
.prev, .next {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #1BA5BF;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-top: 20px;
}
