/* General Container Styles */
.white-box {
    background-color: var(--primary-dark-white);
    text-align: center;
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.white-box h3 {
    font-size: 2.5rem;
    margin-bottom: 80px;
    color: var(--primary-dark-blue);
}

.yellow-box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 3cm;

}

.yellow-box-item {
    background-color: var(--primary-dark-blue);
    border-radius: 30px;
    box-shadow: 0 4px 12px var(--shadow-light);
    padding: 30px;
    text-align: center;
    width: 500px;
    height: 750px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.yellow-box-item.visible {
    display: flex;
}

.yellow-box-item h3 {
    font-size: 1.6rem;
    color: var(--primary-yellow);
    margin-bottom: 10px;
}

.yellow-box-item p {
    font-size: 1.2rem;
    color: var(--primary-yellow);
    flex-grow: 1;
    text-align: justify;
    margin-bottom: 20px;
}

.yellow-box-item a {
    display: inline-block;
    padding: 12px 25px;
    background-color: var(--primary-yellow);
    color: var(--primary-dark-blue);
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-self: center;
    margin-top: auto;
}

.yellow-box-item:hover {
    background-color: var(--primary-yellow);
    transform: translateY(-10px);
    box-shadow: 0 10px 20px var(--shadow-hover);
}

.yellow-box-item a:hover {
    background-color: var(--primary-dark-blue);
    transform: scale(1.05);
    color: var(--primary-yellow);
}

/* Change text color on hover for better visibility */
.yellow-box-item:hover h3,
.yellow-box-item:hover p {
    color: var(--primary-dark-blue);
}

/* Ensure the Explore button remains dark blue on yellow-box-item hover */
.yellow-box-item:hover a {
    background-color: var(--primary-dark-blue);
    color: var(--primary-yellow);
}

/* Change button color on button hover */
.yellow-box-item a:hover {
    background-color: var(--primary-light-blue);
    color: var(--text-light);
}


