/* Contact Container */
.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    margin: 50px auto;
    max-width: 1200px;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;
}

.contact-container.show {
    opacity: 1;
    transform: none;
}

.contact-left, .contact-right {
    flex: 1;
    min-width: 350px;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--text-light);
    box-shadow: 0 4px 15px var(--shadow-light);
    position: relative;
    z-index: 1;
}

.contact-left {
    background-color: var(--text-light);
}

.contact-right {
    background-color: var(--primary-dark-blue);
    color: var(--text-light);
}

.contact-left h2, .contact-right h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    color:var(--primary-dark-white)
}

.contact-left h2 {
    color:var(--primary-dark-blue)
}

.contact-left p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
    color: var(--text-muted);
    text-align: left;
}


.contact-right form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-right p {
    color: var(--text-light);
    text-align: left;
    font-size: var(--font-size-p);
    line-height: 0;
    margin-bottom: 10px; /* Consistent spacing */
}

.contact-right h4 {
    font-size: var(--font-size-h4);
    color: var(--text-light);
    text-align: left;
    line-height: 0.8;

}



.contact-right a {
    display: inline-block;
    margin-top: 5px;
    font-size: var(--font-size-h4); /* Keep original size */
    color: var(--text-light);
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: left;
}

/* Transition Effects */
.contact-left {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.contact-right {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.show .contact-left, .show .contact-right {
    transform: none;
    opacity: 1;
}
