/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Content Wrapper */
.content-wrapper {
    flex: 1; /* This makes the content-wrapper take up all available space */

}

/* Footer Container */
footer {
    background: linear-gradient(135deg, #15688A, #1BA5BF);
    color: #F5F5F5;
    padding: 60px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Ensures the footer does not shrink if the page content is small */
    margin-top: 1mm; /* Add gap between the footer and the section above */
}

/* Circular Background Shapes */
footer::before, footer::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 0;
    animation: moveCircle 10s infinite ease-in-out;
}

footer::before {
    width: 200px;
    height: 200px;
    top: -50px;
    left: 10%;
    animation-duration: 12s;
}

footer::after {
    width: 300px;
    height: 300px;
    bottom: -100px;
    right: 15%;
    animation-duration: 15s;
}

/* Circle Movement Animation */
@keyframes moveCircle {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(20px); }
}

/* Footer Text */
footer p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    z-index: 1;
    position: relative;
    opacity: 0;
    text-align: center;
    animation: fadeIn 1s forwards;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Social Icons */
.social-icons {
    margin-top: 30px;
    z-index: 1;
    position: relative;
}

.social-icons a {
    color: #F5F5F5;
    margin: 0 15px;
    font-size: 1.8rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #1BA5BF;
    transform: scale(1.1);
}