/* General Image Styles */
.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Round Image Frames with Specific Colors */
.img-round {
    border: 3px solid var(--primary-dark-blue);
    border-radius: 50%; /* Ensures the image appears round */
}
.img-round-frame-yellow {
    border: 3px solid var(--primary-yellow);
    border-radius: 50%; /* Ensures the image appears round */
}
.img-round-frame-lightblue {
    border: 3px solid var(--primary-light-blue);
    border-radius: 50%; /* Ensures the image appears round */
}
.img-round-frame-white {
    border: 3px solid #FFFFFF;
    border-radius: 50%; /* Updated to ensure a round shape */
}
.img-round-frame-darkblue {
    border: 3px solid var(--hover-blue);
    border-radius: 50%; /* Corrected to make the frame round */
}


/* Rectangle Image Styles */
.img-rectangle,
.img-rectangle-frame-yellow,
.img-rectangle-frame-lightblue,
.img-rectangle-frame-white,
.img-rectangle-frame-darkblue {
    border-radius: 15px;
    object-fit: cover;
}

/* Rectangle Frames with Specific Colors */
.img-rectangle-frame-yellow { border: 3px solid #E2E1D2; }
.img-rectangle-frame-lightblue { border: 3px solid #1BA5BF; }
.img-rectangle-frame-white { border: 3px solid #FFFFFF; }
.img-rectangle-frame-darkblue { border: 3px solid #138CA2; }

/* Image Positioning */
.img-left { float: left; margin: 0 20px 20px 0; }
.img-right { float: right; margin: 0 0 20px 20px; flex: 1 1 auto; }
.img-center { display: block; margin: 0 auto 20px; }

/* Containers for Image and Text */
.img-left-container,
.img-right-container,
.img-center-container {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
}

.img-left-container { float: left; margin: 0 20px 20px 190px; }
.img-right-container { float: right; margin: 0 190px 20px 20px; }
.img-center-container { margin: 0 auto; clear: both; }

/* Text Styling Under Image */
.img-text {
    display: block;
    margin-top: 5px;
}

.img-text h3 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    display: inline;
}

.img-text p {
    margin: 0;
    font-size: 14px;
    color: #15688A;
    display: inline;
}
