/* Table of Contents (TOC) Styling */
.table-of-contents {
    font-size: var(--font-size-h4);
    color: var(--primary-dark-blue);
    position: fixed;
    left: 90px;
    top: 80px;
    line-height: 1.8;
    padding: 10px;
    max-width: 250px; /* Set maximum width */
    left: 30px; /* Adjust the distance from the left */
    background-color: var(--background-color-light); /* Optional: Add background for clarity */


}

/* Add shadow line on the left side */
.table-of-contents::before {
    content: '';
    position: fixed;
    top: 0;
    width: 2px;
    height: 100vh; /* Full viewport height */
    z-index: 1; /* Places shadow behind the TOC */
    pointer-events: none; /* Prevents the line from blocking other interactions */
}

/* TOC Title Styling */
.table-of-contents h3 {
    font-size: 1.5rem;
    color: var(--primary-dark-blue);
    border-bottom: 2px solid var(--primary-light-blue);
    padding-bottom: 10px;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

/* TOC List Styling */
.table-of-contents ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* TOC List Item Styling */
.table-of-contents li {
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

/* TOC Link Styling */
.table-of-contents a {
    text-decoration: none;
    color: var(--primary-dark-blue);
    font-size: var(--font-size-h4);
    font-weight: bold;
    display: block;
    padding: 5px 0;
    transition: color 0.3s ease, transform 0.3s ease;
    white-space: normal; /* Allows the text to wrap */
    word-wrap: break-word; /* Ensures long words break to avoid overflow */
    max-width: 100%; /* Keeps the width constrained within the container */
}

/* Hover Effect for TOC Links */
.table-of-contents a:hover {
    color: var(--primary-light-blue); /* Light blue color on hover */
    transform: scale(1.2); /* Slightly larger font size on hover */
}
