<!-- Round Image without Frame -->
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-round" alt="Round Image">

<!-- Round Image with Different Frame Colors -->
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-round-frame" alt="Round Image with Blue Frame">
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-round-frame-yellow" alt="Round Image with Yellow Frame">
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-round-frame-lightblue" alt="Round Image with Light Blue Frame">
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-round-frame-white" alt="Round Image with White Frame">
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-round-frame-darkblue" alt="Round Image with Dark Blue Frame">

<!-- Rectangle Image without Frame -->
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-rectangle" alt="Rectangle Image">

<!-- Rectangle Image with Different Frame Colors -->
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-rectangle-frame-yellow" alt="Rectangle Image with Yellow Frame">
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-rectangle-frame-lightblue" alt="Rectangle Image with Light Blue Frame">
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-rectangle-frame-white" alt="Rectangle Image with White Frame">
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-rectangle-frame-darkblue" alt="Rectangle Image with Dark Blue Frame">

<!-- Positioned Images -->
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-left" alt="Left Aligned Image">
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-right" alt="Right Aligned Image">
<img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-center" alt="Center Aligned Image">

<!-- Image Containers with Text -->
<div class="img-left-container">
    <img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-round" alt="Left Aligned Image with Text">
    <div class="img-text">
        <h3>Image Title</h3>
        <p>Description of the image.</p>
    </div>
</div>

<div class="img-right-container">
    <img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-round" alt="Right Aligned Image with Text">
    <div class="img-text">
        <h3>Image Title</h3>
        <p>Description of the image.</p>
    </div>
</div>

<div class="img-center-container">
    <img src="{% static 'images/Profile_img1.jpg' %}" class="img-responsive img-round" alt="Center Aligned Image with Text">
    <div class="img-text">
        <h3>Image Title</h3>
        <p>Description of the image.</p>
    </div>
</div>
